
<header class="main-header">
  <div class="main-header-left">
  <img class="main-avatar" src="https://i.imgur.com/FYv9Z6k.jpg" alt="{{site.title}}" />
    <div class="chat-header">
      <div class="main-title">VIRA - Asisten AI</div>
      <div class="chat-status" id="chatStatus">Online</div>
    </div>
  </div>
  <div class="main-actions">
  <div id="chat-header-tools" class="chat-header-tools"></div>
    <span id="menuDropdown" title="Menu" style="cursor: pointer;"><i class="bi bi-three-dots-vertical"></i></span>
<div id="menuDropdownList" class="dropdown-menu-custom d-none">
  <button id="loginUserBtn"><i class="bi bi-person-circle"></i> Login User</button>
  <button id="loginAdminBtn"><i class="bi bi-key-fill"></i> Login Admin</button>
</div>
  </div>
</header>
