<small id="limit-indicator" class="text-muted ms-2" style="
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
    width: fit-content;
"></small>

<footer class="main-footer">
  <button id="tongSampah" class="footer-tong" title="Hapus"><i class="bi bi-trash3-fill"></i></button>
  <button id="toggleSidebar" class="footer-plus" title="sidebar"><i class="bi bi-list"></i></button>
  <input class="footer-input" type="text" id="message-input" placeholder="Ketik pesan" />
  <button id="mic-btn" type="button" class="footer-mic" title="Voice"><i class="bi bi-mic-fill"></i></button>
  <button id="send-btn" type="submit" class="footer-send" title="send"><i class="bi bi-send-fill"></i></button>
</footer>
