
<aside id="sidebar" class="sidebar">
  <div class="sidebar-header"><span>{{site.app-name}}</span>
  <button id="togglexSidebar" class="header-x" title="Hapus"><i class="bi bi-x-circle"></i></button></div>
  <div class="sidebar-search">
    <input type="text" id="chat-search" placeholder="Cari atau mulai chat baru" />
  </div>
  <div class="sidebar-tabs">
    <button class="sidebar-tab active">Semua</button>
    <button class="sidebar-tab">Favorit</button>
    <button class="sidebar-tab">Grup</button>
  </div>
   <div id="sidebar-produk-list"></div>
<button id="logoutUserBtn" class="btn btn-outline-light btn-sm">
  <i class="bi bi-box-arrow-right"></i> Logout
</button>
</aside>